#copy to test-config.properties.example and edit to your specifications in order to run the tests
store.repository-name = test-repository

connection.host = libstor.grainger.illinois.edu
connection.domain = medusa.grainger.illinois.edu
connection.bucket = test

#auth configuration
authentication.user = test-user
authentication.password = yourpassword
authentication.realm = medusa.grainger.illinois.edu/test

#following used to test adding headers from config - note that they do need to be legal headers for the
#storage system
header.x-config-meta-header = test-value
header.x-config-meta-header-2 = test-value-1|test-value-2
