#copy to test-config.properties.example and edit to your specifications in order to run the tests
store.repository-name = test-repository

connection.host = libstor.grainger.illinois.edu
connection.domain = medusa.grainger.illinois.edu
connection.bucket = test

#auth configuration
authentication.user = test-user
authentication.password = yourpassword
authentication.realm = medusa.grainger.illinois.edu/test

